
.profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 90px;
}

.review-card{
    display: flex;
    align-items: center;
    
}
.card{
    background-color: rgba(128, 128, 128, 0.133);
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}
.info{
    margin-left: 10px;
    margin-bottom: 0;
    
}
.info h4{
    margin-bottom: 0px;
}
.info p {
    margin-top: 0px;
}
.description{
    margin-left: 50px;
}
@media screen and (max-width: 441px) {
    .review-card{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}