.reviews-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section-title{
    text-align: center;
    border-bottom: 2px solid black;
    
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 20px;

}
@media screen and (max-width: 441px) {
    .reviews-container{
        grid-template-columns: 1fr;
    }
    
}