.header{
    background-color: #1d1b1c;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    

}
.link {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 18px; 
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 441px) {
    .header{
        min-width: 100%;
        margin: 0 auto;
    }
    .link{
        margin-left: 10px;
        font-size: 16px;
    }
    
}